@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Edu+SA+Beginner&family=Exo+2:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Edu+SA+Beginner&family=Exo+2:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

body,
a {
    font-family: 'Exo 2', sans-serif;
}

.header-top-bg {
    height: 72px;
    width: 100%;
    left: 0%;
    top: 0%;
    background-color: #19242D;
    z-index: -1;
}

.header-bottom-bg {
    height: 72px;
    width: 100%;
    left: 0%;
    top: 72px;
    background-color: #202D39;
    z-index: -1;
}

.search-bg {
    height: 264px;
    width: 100%;
    background-color: #008AEE;
    z-index: -1;
    top: 144px
}

.footer-bg {
    box-sizing: border-box;
    padding-bottom: 100px;
    height: 300px;
    width: 100%;
    left: 0px;
    margin-bottom: 15px;
    background-color: #202D39;
    z-index: -5;
}

.banner {
    height: 299px;
    width: 100%;
    top: 408px;

    .banner-slide-left,
    .banner-slide-right {
        width: 49%;
        background-color: transparent;
        border: none;
        margin: 0px;
        padding: 0px;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        &.current,
        &.sliding {
            transition: transform 1.5s;
        }
    }

    .anchor-div {
        height: 100%;

        .image-dots {
            width: 100%;
            top: 95%;

            .image-dot {
                background-color: white;
                width: 0rem;
                height: 0rem;
                box-shadow: 0px 0px 3px;
            }

            .current-image {
                background-color: #008AEE;
            }
        }
    }
}


header {
    height: 144px;
}

.header-options {
    width: 105.36px;
}

.social-media {
    width: 63.57px;
}

.options-mobile {
    visibility: collapse;
}

.vr {
    background-color: #394957;
}

nav {
    z-index: 10;
    position: relative;
    height: 32px;

    .btn {
        background-color: #008AEE;
    }

    .btn:nth-child(3) {
        background-color: #5FB865;
    }

    .btn:nth-child(4) {
        background-color: #63C7C9;
    }

    .btn:nth-child(5) {
        background-color: #DC5426;
    }

    .btn:nth-child(6) {
        background-color: #E59D48;
    }

    .btn:nth-child(7) {
        background-color: #BD5FE9;
    }

    .btn:nth-child(8) {
        background-color: #202D39;
        border-color: #DC5426;
    }

    .end-overlay {
        position: absolute;
        height: 3.15rem;

        background-image: linear-gradient(to right, transparent, #202D39);
        right: 0%;

        .btn {
            background-color: transparent;

            img {
                width: 25px;
                height: 14px;
                margin-top: 2px;
            }
        }
    }
}

.search {
    padding: 20px 25px;
    margin-top: 15px;
}

.search-header {
    margin-bottom: 25px;
    font-size: 26px;

    img {
        margin-right: 15px;
    }
}

.search-form {
    margin-bottom: 25px;

    input:nth-child(1) {
        width: 85%;
        padding: 16px 25px;
        font-size: 20px;
        border-color: #008AEE;
        border-style: solid;
        border-width: 1px;
    }


    .submit-div {
        width: 25%;
    }

    .filters-mobile {
        visibility: collapse;
    }

    input:nth-child(2) {
        font-family: 'Roboto', sans-serif;
        width: 80%;
        padding: 13px 30px;
        font-size: 26px;
        background-color: #008AEE;
    }
}

.blue-pointer {
    top: -25px;
    left: 12px;
}

.filters {
    .btn {
        border-width: 2px;
    }

    .btn:nth-child(1) {
        background-color: #008AEE;
        font-weight: 700;
    }

    .btn:nth-child(2) {
        border-color: #008AEE;
    }

    .btn:nth-child(3) {
        border-color: #5FB865;
    }

    .btn:nth-child(4) {
        border-color: #63C7C9;
    }

    .btn:nth-child(5) {
        border-color: #DC5426;
    }

    .btn:nth-child(6) {
        border-color: #E59D48;
    }
}

.content {
    margin-top: 350px;

    .other-row,
    .miscelaneous-row {
        justify-content: space-between;
    }

    .offers-row {
        margin-top: 42px;
        flex-direction: row;
    }

    .latest-row,
    .other-row {
        flex-direction: row;
        margin-top: 80.13px;
    }

    .offer-card,
    .auction-card,
    .car-auction-card,
    .car-card,
    .parts-card,
    .games-card {
        width: 271px;
        height: 271px;
        background-color: #008AEE;
        color: white;
        text-align: center;
        box-shadow: 0px 0px 20px 0px #00000026;

        p {
            font-size: 16px;
        }

        button {
            padding-top: 0.2rem;
            padding-bottom: 0.2rem;
            background-color: white;
            color: #008AEE;
            width: auto;
            font-size: 18px;
        }
    }

    .highlight-row {
        font-size: 14px;

        .highlight {
            justify-content: center;
            width: auto;
            z-index: -1;

            img {
                margin-right: 15px;
            }
        }

        p {
            margin-bottom: .4rem;
        }

        .highlight-title {
            font-size: 14px;
        }

        .highlight-text {
            color: #777777;
        }
    }



    .auction-card {
        background-color: #5FB865;
        margin-left: auto;

        button {
            color: #5FB865;
        }
    }

    .car-auction-card {
        background-color: #63C7C9;

        button {
            color: #63C7C9;
        }
    }

    .car-card {
        background-color: #DC5426;

        button {
            color: #DC5426;
        }
    }

    .parts-card {
        background-color: #E59D48;

        button {
            color: #E59D48;
        }
    }

    .games-card {
        background-color: #BD5FE9;

        button {
            color: #BD5FE9;
        }
    }

    .insurance-card,
    .credit-card,
    .diary-card,
    .news-card {
        box-shadow: 0px 0px 20px 0px #00000026;

        width: 271px;
        text-align: center;
        font-size: 20px;
        border-radius: 1.65rem;
        background-color: white;

        p {
            font-size: 16px;
            color: #999999;
        }
    }

    .insurance-card {
        border-style: solid;
        border-width: 2px;
        border-color: #DC5426;

        h5 {
            color: #DC5426;
        }
    }

    .credit-card {
        border-style: solid;
        border-width: 2px;
        border-color: #5FB865;

        h5 {
            color: #5FB865;
        }
    }

    .diary-card {
        border-style: solid;
        border-width: 2px;
        border-color: #008AEE;

        h5 {
            color: #008AEE;
        }
    }

    .news-card {
        border-style: solid;
        border-width: 2px;
        border-color: #0043EE;

        h5 {
            color: #0043EE;
        }
    }
}

.offer-slider {
    margin-left: 32px;

    h5 {
        top: -0.5rem;
    }

    .offer-item {
        position: relative;

        p {
            margin: 0rem;
        }

        .name {
            font-size: 14.61px;
        }

        .catalog {
            font-size: 12.52px;
            color: #999999;
        }

        .price {
            font-size: 18.78px;
            color: #5FB865;
        }

        margin-right: 32px;
        width: 271px;

        //I am a smart cookie.
        transition: transform 0.5s;
    }

    .offer-start-overlay,
    .offer-end-overlay {
        position: absolute;
        width: 217.78px;
        height: 100%;
        z-index: 1;

        background-image: linear-gradient(to right, white, transparent);

        .btn {
            img {
                width: 44.08px;
                height: 24px;
                margin-top: 2px;
                rotate: 180deg;
            }
        }
    }

    .offer-end-overlay {
        background-image: linear-gradient(to right, transparent, white);
        right: 0%;

        .btn {
            img {
                rotate: 360deg;
            }
        }
    }
}

.latest-slider {
    margin-right: 32px;

    h5 {
        top: -0.5rem;
    }

    .latest-item {

        .buying {
            color: #5FB865;
        }

        .offerring {
            color: #008AEE;
        }

        margin-right: 32px;
        width: 271px;

        transition: transform 0.5s;
    }
}

.latest {
    margin-top: 2rem;
}

.comments {
    width: 100%;
    height: 261px;
    margin-top: 87px;

    .previous-comment {
        width: 50%;
        height: 100%;
        left: 0px;
        rotate: 180deg;
        background-color: transparent;
        border: none;
        z-index: 5;
    }

    .next-comment {
        width: 50%;
        height: 100%;
        right: 0px;
        background-color: transparent;
        border: none;
        z-index: 5;
    }



    .comment-box {
        width: 594px;
        height: 261px;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
        box-shadow: 0px 0px 20px 0px #00000014;
        transition: transform .25s linear, opacity .25s linear;

        .comment {
            margin-top: 25px;
            padding-left: 25px;
            padding-right: 25px;
            text-align: center;
            height: 123px;
            width: 100%;
        }

        .commenter {
            margin-bottom: 25px;

            .user-pic {
                border-radius: 100%;
                background-color: #008AEE;
                padding: 1.5rem;
            }

            .username {
                color: #008AEE;
            }
        }
    }

}

.map {
    margin-top: 100.15px;
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    .location.sofia {
        top: 35.5%;
        left: 13.75%;

        .address {
            left: 3px;
            bottom: 9px;
            background-image: linear-gradient(to right, #0035b9, #008AEE);

            .address-info {
                margin-left: 80px;
            }

            .locator {
                margin-left: auto;
                margin-right: 10px;
            }
        }
    }

    .location.varna {
        top: 21%;
        right: 10.25%;

        .address {
            right: 3px;
            bottom: 9px;
            background-image: linear-gradient(to right, #008AEE, #0035b9);

            .address-info {
                margin-right: 80px;
            }

            .locator {
                margin-left: 10px;
                margin-right: auto;
            }
        }
    }

    .location-relative {
        width: 60px;
        height: 65px;
        font-family: 'Roboto', sans-serif;
        color: white;

        .pin {
            width: 95px;
            height: 105px;
            z-index: 1;
        }

        .gear {
            width: 40px;
            height: 40px;
            bottom: 15px;
            z-index: 1;
        }

        .wrench {
            width: 25px;
            height: 25px;

            bottom: 18px;
            left: 13px;
            z-index: 1;
        }

        .address {
            width: 300px;
            height: 55px;
            opacity: 0;

            transition: opacity 1s;

            &.reveal {
                opacity: 1;
            }

            p {
                margin-bottom: 0px;
            }
        }

        .address-mobile {
            width: 225px;
            height: 43px;
            left: 3px;
            bottom: 9px;
            background-image: linear-gradient(to right, #0035b9, #008AEE);

            .address-info {
                margin-left: 45px;
            }

            p {
                margin-bottom: 0px;
            }

            .locator {
                margin-right: 10px;
                margin-left: auto;

                img {
                    width: 20px;
                    height: 20px;
                }
            }

            visibility: collapse;
        }
    }
}

footer {
    margin-top: 120px;

    .row {
        padding-top: 35px;
    }

    .footer-header {
        margin-bottom: 15px;
    }

    p {
        margin: 0px;
        margin-bottom: 10px;
    }

    .footer-header,
    a {
        color: white;
        text-decoration: none;
    }

    a {
        font-size: 14px;
    }

    .car-rating {
        color: #5FB865;
        font-size: 16px;
    }

    .copyright {
        font-family: 'Roboto', sans-serif;
        color: #999999;
        font-size: 14px;
        font-weight: 500;
    }

    .footer-links {
        background-color: #19242D;
        width: 271px;
        height: 230px;
        padding: 15px;
    }

    .footer-col {
        height: 230px;
    }

    .footer-col:first-child {
        .footer-links:nth-child(1) {
            height: 165px;
        }

        .footer-links:nth-child(2) {
            height: auto;
        }
    }

    .footer-col:nth-child(2) p {
        margin-bottom: 5px;
    }
}

//Media queries

@media (max-width: 1399.98px) {

    .content {
        margin-top: 325px;

        .offer-slider {
            margin-left: 8px;
        }


        .auction-card {
            margin-left: 0px;
        }

        .latest-slider {
            margin-right: 8px;
        }

        .offer-item,
        .latest-item {
            margin-right: 8px;
        }

        .map {
            .location.sofia {
                top: 34.5%;
                left: 13.375%;
            }

            .location.varna {
                top: 19.75%;
                right: 9.9%;
            }
        }
    }
}

@media (max-width: 1199.98px) {

    .comments {

        .previous-comment,
        .next-comment {
            width: 40%;
            padding-left: 25%;
        }
    }

    .map {
        .location.sofia {
            top: 32.5%;
            left: 12.75%;
        }

        .location.varna {
            top: 17.75%;
            right: 9.5%;
        }
    }

}

@media (max-width: 991.98px) {


    .content {
        margin-top: 175px;
    }

    header {
        height: 105px;
    }

    .logo-icon {
        width: 160.86px;
        height: 26.15px;
    }

    .options-mobile {
        visibility: visible;
    }

    .other-sites,
    .phone-number,
    .login,
    .social-media,
    .header-options,
    .social-media,
    .vr {
        visibility: collapse;
    }

    nav {
        position: relative;
        height: 29px;

        .end-overlay {
            position: absolute;
            height: 3.15rem;

            .btn {
                visibility: collapse;
            }
        }
    }

    .nav-links {
        padding: 0px;
    }

    .search {
        margin-top: 5px;
        padding: 12px 15px;
    }


    .search-header {
        margin-bottom: 15px;
        font-size: 16px;

        img {
            margin-right: 8.71px;
            width: 20.46px;
        }
    }

    .search-form {
        margin-bottom: 0px;

        input:nth-child(1) {
            padding: 9px 15px;
            font-size: 11.62px;
            width: 60%;
        }

        .submit-div {
            width: 40%;
        }

        .filters-mobile {
            visibility: visible;
            padding: 5%;
        }

        input:nth-child(2) {
            padding: 5px 15px;
            font-size: 16px;
            width: 80%;
        }
    }

    .blue-pointer {
        top: -14px;
        left: 12px;
    }

    .filters {
        .btn {
            position: absolute;
            visibility: collapse;
        }
    }

    .header-top-bg {
        height: 60px;
    }

    .header-bottom-bg {
        height: 45px;
        top: 60px;
    }

    .search-bg {
        height: 124.18px;
        top: 105px;
    }

    .banner {
        height: 131.69px;
        top: 229.18px;

        .anchor-div {
            .image-dots {
                top: 90%;
            }
        }
    }

    .footer-bg {
        height: 1125.44px;
    }


    footer {
        .row {
            .footer-col {
                width: 100%;
                margin-bottom: 36px;

                .footer-links {
                    width: 358px;
                }
            }
        }
    }

    .map {
        .location.sofia {
            top: 28%;
            left: 12.75%;
        }

        .location.varna {
            top: 13%;
            right: 7%;
        }
    }
}


@media (max-width: 767.98px) {
    .content {
        .highlight-row {
            width: 100%;

            .highlight:nth-child(2n) {
                flex-direction: row-reverse;
                text-align: end;
                margin-left: auto;

                img {
                    margin-left: 15px;
                    margin-right: 0px;
                }
            }
        }

        .latest-slider,
        .offer-slider {
            h5 {
                left: 2.25rem;
            }

            margin-left: 0px;
            margin-right: 0px;
            margin-top: 25px;
            width: 100%;

            .offer-item,
            .latest-item {
                opacity: 50%;
            }

            .offer-item:first-child,
            .latest-item:first-child {
                opacity: 100%;
            }


            .offer-start-overlay,
            .offer-end-overlay {
                visibility: collapse;
            }

            .latest {
                padding-left: 2.25rem;
            }

            .offers {
                margin-left: 2.25rem;
            }
        }

        .offers-row,
        .latest-row,
        .other-row,
        .miscelaneous-row {
            justify-content: center;
        }

        .latest-row {
            flex-direction: column-reverse;
            align-items: center;
        }

        .offer-card,
        .auction-card,
        .car-auction-card,
        .car-card,
        .parts-card,
        .games-card,
        .insurance-card,
        .credit-card,
        .diary-card,
        .news-card {
            width: 358px;
        }

        .comments {
            .previous-comment {
                img {
                    width: 40px;
                    height: 20px;
                }
            }

            .next-comment {
                img {
                    width: 40px;
                    height: 20px;
                }
            }

            .comment-box {
                width: 358px;
                height: 300px;
                justify-content: space-between !important;

                .comment {
                    margin-top: 11px;
                    padding-left: 30px;
                    padding-right: 30px;
                }

                .commenter {
                    margin-bottom: 11px;
                }
            }
        }

        .map {
            .location.sofia {
                top: 26%;
                left: 12%;
            }

            .location.varna {
                top: 12%;
                right: 7%;
            }

            .location-relative {
                width: 40px;
                height: 55px;

                .pin {
                    width: 75px;
                    height: 85px;
                }

                .gear {
                    width: 30px;
                    height: 30px;
                    bottom: 15px;
                    left: 5.5px;
                }

                .wrench {
                    width: 20px;
                    height: 20px;

                    bottom: 16px;
                    left: 6.5px;
                }

                .address {
                    visibility: collapse;
                }


                .address-mobile {
                    visibility: visible;
                }
            }
        }
    }
}

//Animation Keyframes

nav {
    transform: translate(400%, 0%);
    animation: slideLeft 1.5s forwards 1s;
}

.search {
    transform: translate(400%, 0%);
    animation: slideLeft 1.5s forwards 1.25s;
}

@keyframes slideLeft {
    60% {
        transform: translate(-5%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.search-bg {
    opacity: 0;
    animation: fadeIn .75s forwards 1.5s;
}

@media (max-width: 991.98px) {
    .search-bg {
        transform: translate(175%, 0%);
        opacity: 1;
        animation: slideLeft .75s forwards 1.5s;
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

.highlight:nth-child(1) {
    transform: translate(0%, -175%);
    animation: slideDown .5s forwards 2s;
}

.highlight:nth-child(2) {
    transform: translate(0%, -175%);
    animation: slideDown .5s forwards 2.5s;
}

.highlight:nth-child(3) {
    transform: translate(0%, -175%);
    animation: slideDown .5s forwards 3s;
}

.highlight:nth-child(4) {
    transform: translate(0%, -175%);
    animation: slideDown .5s forwards 3.5s;
}

@media (max-width: 1399.98px) {
    .highlight:nth-child(n) {
        transform: translate(0%, -200%);
    }
}

@media (max-width: 991.98px) {
    .highlight:nth-child(n) {
        transform: translate(-150%, 0%);
        animation: slideHighlightRight .5s forwards 1.5s;
    }

    .highlight:nth-child(2n) {
        transform: translate(150%, 0%);
        animation: slideHighlightLeft .5s forwards 1.5s;
    }
}

@keyframes slideDown {
    60% {
        transform: translate(0%, 10%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideHighlightLeft {
    60% {
        transform: translate(-10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

@keyframes slideHighlightRight {
    60% {
        transform: translate(10%, 0%);
    }

    100% {
        transform: translate(0%, 0%);
    }
}

.comment-box.previous-1 {
    z-index: -1;
    transform: translate(-50%, 0%) scale(80%);
}

.comment-box.previous-2 {
    z-index: -2;
    transform: translate(-70%, 0%) scale(60%);
}

.comment-box.next-1 {
    z-index: -1;
    transform: translate(50%, 0%) scale(80%);
}

.comment-box.next-2 {
    z-index: -2;
    transform: translate(70%, 0%) scale(60%);
}

@media (max-width: 991.98px) {
    .comment-box.previous-1 {
        opacity: 0;
        transform: translate(-10%, -5%) scale(90%);
    }

    .comment-box.previous-2 {
        opacity: 1;
        transform: translate(-10%, 0%) scale(90%);
    }

    .comment-box.next-1 {
        opacity: 0;
        transform: translate(10%, 5%) scale(90%);
    }

    .comment-box.next-2 {
        opacity: 1;
        transform: translate(10%, 0%) scale(90%);
    }
}